.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagination > div > button {
  padding: 4px 8px;
  margin: 0 4px;
}

.pagination > div > input {
    padding: 4px 8px;
    margin: 0 4px;
  }